html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
  font-family: 'Raleway', sans-serif; }

body {
  font-size: 18px;
  color: #555;
  position: absolute;
  height: 100%;
  width: 100%; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

strong {
  font-weight: 700; }

a, a > * {
  -webkit-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s; }

a {
  color: #2b2b2b;
  text-decoration: none; }

p {
  padding: 0 0 10px 0;
  letter-spacing: 0;
  font-weight: 200; }

p a {
  border-bottom: 1px solid #2b2b2b; }

p.no-border a {
  border: 0; }

span.arrow {
  font: 13px "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif; }

.small {
  font-size: 14px; }

h1, h2, h3, h4, h5, h6, ol, ul {
  margin: 0; }

h1#logo {
  display: block;
  position: relative;
  float: left; }

h1#logo a {
  display: block;
  background: url(../img/JAM_logo.png) center no-repeat;
  background-size: 148px 68px;
  width: 148px;
  /*try to keep it at 35px*/
  height: 97px;
  background-size: 175px 80px;
  width: 175px;
  /*try to keep it at 35px*/
  height: 97px;
  text-indent: -9999px; }

h2 {
  font-size: 92px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  line-height: 1;
  padding: 0 100px 26px 0;
  letter-spacing: -1px; }

h3 {
  font-size: 60px;
  font-weight: 700;
  color: #2b2b2b;
  line-height: 60px;
  text-transform: uppercase;
  padding: 0 0px 23px 0;
  letter-spacing: -1px; }

h4 {
  font-size: 22px;
  font-weight: 200;
  color: #2b2b2b;
  line-height: 27px;
  text-transform: uppercase;
  padding: 0 0px 15px 0; }

h4:after {
  content: '';
  width: 50px;
  border-bottom: 1px solid #2b2b2b;
  display: block;
  margin: 10px 0 10px 0; }

h4.textcenter:after,
.textcenter h4:after {
  margin-left: auto;
  margin-right: auto; }

h5 {
  font-size: 11px;
  font-weight: 200;
  color: #2b2b2b;
  line-height: 22px;
  padding: 0px 0px 17px 0;
  text-transform: uppercase;
  letter-spacing: 5px; }

ul.unordered-list, .hentry ul {
  list-style: disc;
  padding: 0px 10px 27px 0;
  line-height: 1.5;
  margin-left: 24px; }

nav {
  margin: 0px auto;
  position: relative;
  display: table;
  height: 97px;
  float: right; }

#nav {
  display: table-cell;
  vertical-align: middle; }

#nav li {
  float: left;
  margin: 0px 0px 0px 25px;
  cursor: pointer; }

#nav li a {
  padding: 5px;
  color: #8d8d8d;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  display: block; }

#nav li a.external {
  padding-left: 25px;
  border-left: 1px solid #e0e0e0; }

#nav li:hover a.nav-item {
  background: #00b5ef;
  color: white;
  opacity: .5; }

#nav li.active a.nav-item {
  background: #00b5ef;
  color: white; }

header {
  position: relative;
  z-index: 200;
  width: 100%;
  padding: 26px 40px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.12);
  overflow: hidden; }

.header {
  background: #fff;
  opacity: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: 0;
  left: 0;
  right: 0;
  z-index: 0; }

.the-nav {
  z-index: 12; }

#undefined-sticky-wrapper {
  position: absolute;
  z-index: 200;
  width: 100%; }

.container {
  width: 960px;
  position: relative;
  margin: 0 auto; }

.section {
  position: relative;
  padding: 85px 0 85px 0;
  display: block;
  margin: 0;
  border-bottom: 1px solid #e0e0e0; }

.intro {
  height: 100%;
  width: 100%;
  background: url(../img/hero-jam-1600x1019.jpg) no-repeat center top fixed;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: block;
  background-attachment: fixed;
  margin-bottom: -149px; }

.touch .intro {
  background: url(../img/hero-jam.jpg) center center no-repeat scroll !important;
  background-position: center; }

#intro-text {
  z-index: 28;
  position: relative;
  color: #fff;
  padding-top: 60px; }

.overlay {
  display: block;
  position: absolute;
  top: 0;
  /*background-color:rgba(0,0,0,.5);*/
  z-index: 10;
  width: 100%;
  height: 100%;
  background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.65) 13%, transparent 49%, transparent 84%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0, 0, 0, 0.65)), color-stop(13%, rgba(0, 0, 0, 0.65)), color-stop(49%, transparent), color-stop(84%, transparent));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.65) 13%, transparent 49%, transparent 84%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.65) 13%, transparent 49%, transparent 84%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.65) 13%, transparent 49%, transparent 84%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.65) 13%, transparent 49%, transparent 84%);
  display: block;
  position: absolute;
  top: -113px;
  left: -119px;
  z-index: 10;
  width: 1000px;
  height: 700px;
  opacity: .7; }

.block {
  text-shadow: 0 0 50px #000; }

p .block {
  background-color: rgba(0, 0, 0, 0.3);
  line-height: 1.5em; }

.story p .spark {
  padding: 0 5px;
  border-bottom: dotted 1px;
  line-height: 1.5em;
  background: none;
  color: black; }

.border {
  height: 4px;
  width: 81px;
  background: #2b2b2b;
  display: block;
  margin: 20px 0 45px 0;
  position: relative; }

.section#home {
  padding-top: 0; }

.section#about {
  margin-top: 150px; }

.section.slim {
  padding: 0;
  border: none; }

img.slim {
  width: 100%;
  padding: 0;
  margin: 0;
  display: block;
  float: left; }

.about-people {
  padding: 40px 20px; }

#home .border {
  background: #fff;
  margin: 5px 0 25px 0; }

footer {
  min-height: 97px;
  margin: 0;
  background: #f0f0f0;
  width: 100%; }

footer .container {
  padding: 26px 10px; }

footer p {
  color: #888; }

footer p a {
  color: #555;
  border: 0; }

.pure-button-ignite {
  background: #95c94f;
  padding: 20px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  box-shadow: none;
  border-radius: 0;
  margin: 0 0 0 10px;
  font-family: 'Raleway', sans-serif; }

.pure-form input[type=email].input-ignite {
  background-color: #fff;
  border: solid 1px #ccc;
  padding: 20px;
  width: 60%;
  border-radius: none;
  box-shadow: none;
  border-radius: 0;
  font-family: 'Raleway', sans-serif; }

.pure-form-ignite {
  width: 600px;
  margin: 0 auto; }

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  z-index: 9999; }

#status {
  z-index: 28;
  position: absolute;
  color: #fff;
  top: 50%;
  height: 220px;
  width: 100%;
  margin-top: -110px; }

#preloader p.small {
  font-size: 16px;
  display: block;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 0 !important; }

.parent {
  width: 300px;
  margin: 0px auto;
  position: relative;
  height: 220px;
  z-index: 11; }

.child {
  text-align: center; }

.parent {
  display: table; }

.child {
  display: table-cell;
  vertical-align: middle;
  padding: 0 50px; }

.child span {
  text-transform: uppercase; }

@media only screen and (-Webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5) {
  .overlay {
    left: -167px; }

  #intro-text {
    padding-top: 0; }

  .pure-button-cta {
    background-color: transparent;
    color: #fff;
    border: 2px solid white;
    float: right;
    margin: -99px 73px; }

  /* Standard 960 or larger (browsers) */ }
@media only screen and (-Webkit-min-device-pixel-ratio: 1.5) and (min-width: 1000px), only screen and (-moz-min-device-pixel-ratio: 1.5) and (min-width: 1000px), only screen and (-o-min-device-pixel-ratio: 3 / 2) and (min-width: 1000px), only screen and (min-device-pixel-ratio: 1.5) and (min-width: 1000px) {
  #nav {
    display: table-cell !important; } }
/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 1029px) {
  header {
    position: absolute; }

  .blog header {
    position: relative; }

  #message {
    margin: 0px 0 50px 0px;
    width: 300px;
    float: none; } }
/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 999px) {
  .container {
    padding: 0px;
    width: 640px;
    position: relative; }

  .col1-1, .col1-3.col2-3m, .col1-2 {
    width: 620px !important; }

  .col2-3.col1-3m {
    width: 300px; }

  .col1-3.margin-left, .blog .col1-3.margin-left {
    margin: 0px 10px; }

  input, textarea, select {
    width: 280px; }

  #nav-button {
    display: block;
    float: right;
    width: 25px;
    margin-top: 7px;
    cursor: pointer;
    position: relative;
    -webkit-tap-highlight-color: transparent; }

  .nav-bar {
    background-color: #2b2b2b;
    border-radius: 1px;
    display: block;
    width: 25px;
    height: 3px;
    margin: 3px auto; }

  nav {
    margin: 0px;
    position: relative;
    display: block;
    height: auto;
    float: none;
    clear: both; }

  #nav {
    display: none;
    width: 100%;
    z-index: 300;
    float: none;
    position: relative;
    top: 0px;
    padding-top: 25px;
    list-style: none;
    border-bottom: 1px solid #ccc; }

  #nav li {
    text-align: center;
    border-top: 1px solid #ccc;
    float: none;
    margin: 0;
    float: none;
    display: block; }

  #nav li a {
    padding: 15px; }

  .menu-line {
    display: none !important; }

  #nav li a.external {
    border-left: 0; }

  footer p span {
    float: none !important;
    display: block; }

  .tp-banner-container2 {
    width: 620px !important;
    margin: 0 auto; }

  .tp-banner-container2 h2 {
    margin-left: 0px;
    font-size: 60px !important;
    width: 620px !important;
    padding-right: 0;
    white-space: normal;
    line-height: 1; }

  #section1 .border {
    background: #fff;
    margin: 40px 0 31px 0; } }
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 480px) {
  header {
    padding: 26px 20px; } }
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 767px) {
  .container {
    padding: 0px;
    width: 320px;
    position: relative; }

  .col2-3, .col1-1, .col1-2 {
    width: 300px !important; }

  .col1-3.margin-left, .blog .col1-3.margin-left {
    margin: 0px 10px; }

  input, textarea, select {
    width: 300px !important; }

  #nav-button {
    display: block;
    float: right;
    width: 25px;
    margin-top: 7px;
    cursor: pointer;
    position: relative;
    -webkit-tap-highlight-color: transparent; }

  .nav-bar {
    background-color: #2b2b2b;
    border-radius: 1px;
    display: block;
    width: 25px;
    height: 3px;
    margin: 3px auto; }

  nav {
    margin: 0px;
    position: relative;
    display: block;
    height: auto;
    float: none;
    clear: both; }

  #nav {
    display: none;
    width: 100%;
    z-index: 300;
    float: none;
    position: relative;
    top: 0px;
    padding-top: 25px;
    list-style: none;
    border-bottom: 1px solid #ccc; }

  #nav li {
    text-align: center;
    border-top: 1px solid #ccc;
    float: none;
    margin: 0;
    float: none;
    display: block; }

  #nav li a {
    padding: 15px; }

  .menu-line {
    display: none !important; }

  #nav li a.external {
    border-left: 0; }

  footer p span {
    float: none !important;
    display: block; }

  .tp-banner-container2 {
    width: 300px !important;
    margin: 0 auto; }

  .tp-banner-container2 h2 {
    margin-left: 0px; }

  .tp-caption h2, h3 {
    font-size: 40px !important;
    width: 300px !important;
    padding-right: 0;
    white-space: normal;
    line-height: 1; }

  .tp-caption h3 {
    margin-top: -60px;
    margin-left: 10px; }

  .tp-caption.border {
    margin-left: 10px !important; }

  #intro-text {
    margin-top: 40px; }

  .hide-s {
    display: none !important; }

  #section1 .border {
    background: #fff;
    margin: 5px 0 35px 0; }

  #section1 .button {
    display: none; }

  .videos {
    height: 170px;
    width: 300px; } }
.icon {
  line-height: 150px;
  max-width: 100%;
  border-radius: 50%;
  -o-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  display: block;
  font-size: 55px;
  text-align: center;
  vertical-align: middle;
  position: relative;
  margin: 0 auto; }

.callout {
  padding: 40px 0; }

.strip {
  background: #F2F2F2;
  border: none; }

.slimmer {
  padding: 20px 0; }

.slimmer p {
  line-height: 0;
  font-size: 24px;
  color: #fff;
  text-align: center; }

.static.slimmer {
  background: url(../img/hero-jam-1600x1019.jpg) no-repeat center bottom fixed;
  background-size: cover;
  text-shadow: 0 0 50px #000; }

.light-blue {
  background-color: #00b5ef; }

.dark-blue {
  background-color: #002c3e; }

.light-gray {
  background-color: #999; }

.dim-gray {
  background-color: #ddd; }

.medium-gray {
  background-color: #a7a9ab; }

.dark-gray {
  background-color: #323132; }

.jam-green {
  background-color: #95c94f; }

.jam-pink {
  background-color: #cd529e; }

.strip.dark-blue h5 {
  color: #fff;
  text-align: center; }

.strip.dark-blue p,
.strip.dark-blue h4 {
  color: #fff; }

.strip.dark-blue p a {
  color: #95c94f;
  border-bottom: 1px dotted #95c94f; }

.strip.dark-gray p,
.strip.dark-gray h4 {
  color: #fff; }

.strip.dark-gray p a {
  color: #95c94f;
  border-bottom: 1px dotted #95c94f; }

.textcenter {
  text-align: center; }

.textleft {
  text-align: left; }

.circular {
  width: 180px;
  height: 180px;
  border-radius: 90px;
  -webkit-border-radius: 90px;
  -moz-border-radius: 90px;
  margin: 20px auto; }

.paz {
  background: url("../img/paz-profile.jpg") no-repeat;
  background-size: 100%;
  background-position: 0px -14px; }

.kirsty {
  background: url("../img/kirsty-profile.jpg") no-repeat;
  background-position: -295px -92px; }

.social-media a {
  border: none;
  font-size: 36px;
  background: #00b5ef;
  color: #fff;
  display: block;
  float: left;
  margin: 0 10px 0 0;
  border-radius: 47px;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  padding: 0; }

.social-media a:hover {
  background: #00b5ef;
  opacity: .5; }

.getting-there li {
  margin: 0 0 10px 0; }

#nav li .social-media {
  border-left: 1px solid #e0e0e0;
  display: block;
  float: left;
  padding: 0 0 0 25px; }

#nav li .social-media a {
  border: none;
  font-size: 16px;
  background: none;
  display: block;
  float: left;
  margin: 0 10px 0 0;
  border-radius: 47px;
  width: 27px;
  height: 27px;
  text-align: center;
  line-height: 27px;
  padding: 0; }

#nav li .social-media a:hover {
  background: #00b5ef;
  opacity: .5;
  color: #fff; }

.imageright {
  float: right;
  margin: 0 0 0 20px; }

.padded {
  padding: 10px;
  background: white; }

.packages {
  text-align: center;
  margin: 0 10px;
  min-height: 375px;
  background: #fff; }

.package {
  min-height: 60px; }

.packages:first-child {
  margin: 0 0 0 10px; }

.packages:last-child {
  margin: 0 10px 0 0; }

.packages thead th,
.packages thead {
  background: transparent;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  font-size: 26px; }

.packages .price {
  background: #F2F2F2;
  font-size: 34px; }

.packages .price span {
  font-size: 12px; }

.packages .features ul {
  list-style: none; }

.button-choose {
  border: none;
  font-weight: 200;
  position: relative;
  color: #fff;
  background: #b84f94; }

.feature {
  font-size: 14px; }

.pure-g [class*="pure-u"] {
  font-family: 'Raleway', sans-serif; }

.service p {
  padding: 0 20px;
  font-size: 16px; }
